simulate-from-ergms/out/simulated-updated-with-oct12-2024-synthpop-ergmv4-6-all-plos1-mcmc-int1e6-samp1e6-hotelling.RData filter=lfs diff=lfs merge=lfs -text
simulated-updated-with-oct12-2024-synthpop-ergmv4-6-all-plos1-mcmc-int1e6-samp1e6-hotelling-renamed.RData filter=lfs diff=lfs merge=lfs -text
